{% extends "base.html" %}
{% block title %}
    {{artist.artist_name}}
{% endblock %}
{% block content %}
<div class="artist-detail-header">
    <div class="artist-detail-avatar-box">
        <img
        src="{{ artist.artist_image }}"
        class="artist-detail-avatar">
    </div>
    <div class="artist-detail-info">
        <h2>
            {{ artist.artist_name }}
        </h2>
        <h3>
            歌手简介
        </h3>
        <p>
            {{ artist.artist_intro }}
        </p>
        {% if artist.artist_url %}
        <a class="btn"
        href="{{ artist.artist_url }}"
        target="_blank">
            打开网易云主页
        </a>
        {% endif %}
    </div>
</div>
<h3 class="section-title">
    该歌手的歌曲列表
</h3>
<div class="artist-song-list">
{% for song in songs %}
<div class="artist-song-item">
    <div class="mini-cover">
        <img
        src="{{ song.cover_url }}">
    </div>
    <a href="/song/{{ song.song_id }}/">
        {{ song.song_name }}
    </a>
</div>
{% endfor %}
</div>
{% endblock %}