{% extends "base.html" %}
{% block title %}
    {{artist.artist_name}}
{% endblock %}
{% block content %}
<h2>
    {{ artist.artist_name }}
</h2>
<img 
src="{{ artist.artist_image }}"
width="300">
<h3>
    歌手简介
</h3>
<p>
    {{ artist.artist_intro }}
</p>
{% if artist.artist_url %}
<p>
    网易云链接：
    <a href="{{ artist.artist_url }}" target="_blank">
    点击打开
    </a>
</p>
{% endif %}
<h3>
    该歌手的歌曲列表
</h3>
<ul>
    {% for song in songs %}
    <div>
    <img 
    src="{{ song.cover_url }}"
    width="100">
    <a href="/song/{{ song.song_id }}/">
    {{ song.song_name }}
    </a>
    </div>
    {% endfor %}
</ul>
{% endblock %}