{% extends "base.html" %}

{% block title %}
歌曲列表
{% endblock %}

{% block content %}

<h2>歌曲列表</h2>

<p>
    共{{total}}首歌曲
</p>
<ul>
    {% for song in songs %}
    <li>
        <a href="/song/{{song.song_id}}/">
            <strong>
                {{song.song_name}}
            </strong>
        </a>
        -
        {{song.artist_names}}
    </li>
    {% endfor %}
</ul>
<div class="pagination">
    {% if page > 1 %}
    <a href="?page=1">
        首页
    </a>
    <a href="?page={{ page|add:'-1'}}">
        上一页
    </a>
    {% endif %}
    <span>
        第{{page}}页/共{{total_page}}页
    </span>
    {% if page < total_pages %}
    <a href="?page={{ page|add:'1' }}">
    下一页
    </a>
    <a href="?page={{ total_pages }}">
    尾页
    </a>
    {% endif %}
</div>
{% endblock %}