{% extends "base.html" %}
{% block title %}
    歌曲详情
{% endblock %}
{% block content %}
<div class="song-detail-header">
    <div class="detail-cover">
        <img
        src="{{ song.cover_url }}"
        class="song-detail-cover">
    </div>
    <div class="detail-info">
        <h2>
            {{ song.song_name }}
        </h2>
        <p>
            歌手：
            {% for artist in artists %}
            <a href="/artist/{{artist.artist_id}}/">
                {{artist.artist_name}}
            </a>
            {% endfor %}
        </p>
        <a class="btn"
        href="{{ song.song_url }}"
        target="_blank">
            在网易云打开
        </a>
    </div>
</div>
<h3>
歌词
</h3>
<div class="lyric-box">
<pre>
{{ song.lyric }}
</pre>
</div>
<hr>
<h3>
    评论区
</h3>
<form method="post" action="/song/{{song.song_id}}/comment/">
    {% csrf_token %}
    <textarea
    name="content"
    rows="4"
    cols="50"
    placeholder="请写下你的评论">
</textarea>
<br>
<button type="submit">
    提交评论
</button>
</form>
<hr>
{% if comments %}
{% for comment in comments %}
<div class="comment-card">
    <p>
        {{comment.content}}
    </p>
    <small>
        {{comment.time}}
    </small>
    <form method="post" action="/comment/{{comment.comment_id}}/delete/">
        {% csrf_token %}
        <input
        type="hidden"
        name="song_id"
        value="{{ song.song_id }}">
        <button type="submit">
            删除
        </button>
    </form>
</div>
<hr>
{% endfor %}
{% else %}
<p>
    暂无评论
</p>
{% endif %}
{% endblock %}